@*chỉ chứa data thôi một số cái cần thiết đã lưu trong cache vs máy ng dùng khi load trang rồi*@
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_LayoutFrontEnd_NotSlide.cshtml";
}
<div class="main ">
    <div class="container">
        <div class="row service-box margin-bottom-40 ">
            <div class="col-md-4 col-sm-4 portlet light">
                <a href="@Url.Action("NhaTuyenDung","Home")">
                    <div class="service-box-heading">
                        <em>
                            @*<i class="fa fa-location-arrow blue"></i>*@
                            <img class="avatar" src="~/Theme/temp/favicon.png" alt="ảnh logo các đơn vị đó" />
                        </em>
                        <span>Vị trí truyển </span>
                    </div>
                </a>
                <div class="row front-lists-v2 margin-bottom-15">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-calendar blue"></i> Hạn nộp hồ sơ: @DateTime.Now</li>
                        <li><i class="fa fa-tags"></i> <span>Kỹ năng:</span> C#, java core, ASP.net Core</li>
                        <li><span>Chuyên ngành: Xử lý ảnh, xử lý tín hiệu âm thanh</span></li>
                        <li><span>Thời gian :part time</span></li>
                        <li><span>Số lượng : 15</span></li>
                        <li><span>Địa điểm : Hà nội</span></li>
                        <li><span>Lương: </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 portlet light">
                <div class="service-box-heading">
                    <em>
                        @*<i class="fa fa-location-arrow blue"></i>*@
                        <img class="avatar" src="~/Theme/temp/favicon.png" alt="ảnh logo các đơn vị đó" />
                    </em>
                    <span>Vị trí truyển </span>
                </div>
                <div class="row front-lists-v2 margin-bottom-15">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-calendar blue"></i> Hạn nộp hồ sơ: @DateTime.Now</li>
                        <li><i class="fa fa-tags"></i> <span>Kỹ năng:</span> C#, java core, ASP.net Core</li>
                        <li><span>Chuyên ngành: Xử lý ảnh, xử lý tín hiệu âm thanh</span></li>
                        <li><span>Thời gian :part time</span></li>
                        <li><span>Số lượng : 15</span></li>
                        <li><span>Địa điểm : Hà nội</span></li>
                        <li><span>Lương: </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 portlet light">
                <div class="service-box-heading">
                    <em>
                        @*<i class="fa fa-location-arrow blue"></i>*@
                        <img class="avatar" src="~/Theme/temp/favicon.png" alt="ảnh logo các đơn vị đó" />
                    </em>
                    <span>Vị trí truyển </span>
                </div>
                <div class="row front-lists-v2 margin-bottom-15">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-calendar blue"></i> Hạn nộp hồ sơ: @DateTime.Now</li>
                        <li><i class="fa fa-tags"></i> <span>Kỹ năng:</span> C#, java core, ASP.net Core</li>
                        <li><span>Chuyên ngành: Xử lý ảnh, xử lý tín hiệu âm thanh</span></li>
                        <li><span>Thời gian :part time</span></li>
                        <li><span>Số lượng : 15</span></li>
                        <li><span>Địa điểm : Hà nội</span></li>
                        <li><span>Lương: </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 portlet light">
                <div class="service-box-heading">
                    <em>
                        @*<i class="fa fa-location-arrow blue"></i>*@
                        <img class="avatar" src="~/Theme/temp/favicon.png" alt="ảnh logo các đơn vị đó" />
                    </em>
                    <span>Vị trí truyển </span>
                </div>
                <div class="row front-lists-v2 margin-bottom-15">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-calendar blue"></i> Hạn nộp hồ sơ: @DateTime.Now</li>
                        <li><i class="fa fa-tags"></i> <span>Kỹ năng:</span> C#, java core, ASP.net Core</li>
                        <li><span>Chuyên ngành: Xử lý ảnh, xử lý tín hiệu âm thanh</span></li>
                        <li><span>Thời gian :part time</span></li>
                        <li><span>Số lượng : 15</span></li>
                        <li><span>Địa điểm : Hà nội</span></li>
                        <li><span>Lương: </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 portlet light">
                <div class="service-box-heading">
                    <em>
                        @*<i class="fa fa-location-arrow blue"></i>*@
                        <img class="avatar" src="~/Theme/temp/favicon.png" alt="ảnh logo các đơn vị đó" />
                    </em>
                    <span>Vị trí truyển </span>
                </div>
                <div class="row front-lists-v2 margin-bottom-15">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-calendar blue"></i> Hạn nộp hồ sơ: @DateTime.Now</li>
                        <li><i class="fa fa-tags"></i> <span>Kỹ năng:</span> C#, java core, ASP.net Core</li>
                        <li><span>Chuyên ngành: Xử lý ảnh, xử lý tín hiệu âm thanh</span></li>
                        <li><span>Thời gian :part time</span></li>
                        <li><span>Số lượng : 15</span></li>
                        <li><span>Địa điểm : Hà nội</span></li>
                        <li><span>Lương: </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 portlet light">
                <div class="service-box-heading">
                    <em>
                        @*<i class="fa fa-location-arrow blue"></i>*@
                        <img class="avatar" src="~/Theme/temp/favicon.png" alt="ảnh logo các đơn vị đó" />
                    </em>
                    <span>Vị trí truyển </span>
                </div>
                <div class="row front-lists-v2 margin-bottom-15">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-calendar blue"></i> Hạn nộp hồ sơ: @DateTime.Now</li>
                        <li><i class="fa fa-tags"></i> <span>Kỹ năng:</span> C#, java core, ASP.net Core</li>
                        <li><span>Chuyên ngành: Xử lý ảnh, xử lý tín hiệu âm thanh</span></li>
                        <li><span>Thời gian :part time</span></li>
                        <li><span>Số lượng : 15</span></li>
                        <li><span>Địa điểm : Hà nội</span></li>
                        <li><span>Lương: </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 portlet light">
                <div class="service-box-heading">
                    <em>
                        @*<i class="fa fa-location-arrow blue"></i>*@
                        <img class="avatar" src="~/Theme/temp/favicon.png" alt="ảnh logo các đơn vị đó" />
                    </em>
                    <span>Vị trí truyển </span>
                </div>
                <div class="row front-lists-v2 margin-bottom-15">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-calendar blue"></i> Hạn nộp hồ sơ: @DateTime.Now</li>
                        <li><i class="fa fa-tags"></i> <span>Kỹ năng:</span> C#, java core, ASP.net Core</li>
                        <li><span>Chuyên ngành: Xử lý ảnh, xử lý tín hiệu âm thanh</span></li>
                        <li><span>Thời gian :part time</span></li>
                        <li><span>Số lượng : 15</span></li>
                        <li><span>Địa điểm : Hà nội</span></li>
                        <li><span>Lương: </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 portlet light">
                <div class="service-box-heading">
                    <em>
                        @*<i class="fa fa-location-arrow blue"></i>*@
                        <img class="avatar" src="~/Theme/temp/favicon.png" alt="ảnh logo các đơn vị đó" />
                    </em>
                    <span>Vị trí truyển </span>
                </div>
                <div class="row front-lists-v2 margin-bottom-15">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-calendar blue"></i> Hạn nộp hồ sơ: @DateTime.Now</li>
                        <li><i class="fa fa-tags"></i> <span>Kỹ năng:</span> C#, java core, ASP.net Core</li>
                        <li><span>Chuyên ngành: Xử lý ảnh, xử lý tín hiệu âm thanh</span></li>
                        <li><span>Thời gian :part time</span></li>
                        <li><span>Số lượng : 15</span></li>
                        <li><span>Địa điểm : Hà nội</span></li>
                        <li><span>Lương: </span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>