@model Dung.Model.CheckImage
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/FrontEnd/Views/Shared/_UploadFile.cshtml";
    if (ViewBag.ActiveTabNum == null)
    {
        ViewBag.ActiveTabNum = "1";
    }
    string CName = ViewBag.CName == null ? "Image" : ViewBag.CName;
    string indexRoute = "";
    int CurrentPage = ViewBag.CurrentPage == null ? 0 : (int)ViewBag.CurrentPage;
    int PageSize = ViewBag.PageSize == null ? 0 : (int)ViewBag.PageSize;
    string SearchText = ViewBag.SearchText == null ? "" : ViewBag.SearchText;
    indexRoute = Url.RouteUrl("FrontEnd_Home_Index");
    string url1 = indexRoute;
}
<ul class="page-breadcrumb breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <a href="@Url.RouteUrl("FrontEnd_Home_Index")" ">Trang chủ</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="@indexRoute">Danh sách @ViewBag.CText</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li class="active">
        @ViewBag.Title
    </li>
</ul>
@*Bắt đầu nội dung tùy chỉnh*@
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject uppercase">Thêm @ViewBag.CText</span>
        </div>
    </div>
    <div class="portlet-body" id="account_detail">

        <div class="">

            <div class="row">
                @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @class = "form -horizontal form-bordered form-row-stripped", @id = "fileupload", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">
                        <div class="form-body">
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    <button data-close="alert" class="close"></button>
                                    @Html.ValidationSummary(true)
                                </div>
                            }
                            <div class="row fileupload-buttonbar">
                                <div class="col-lg-7">
                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                    <span class="btn green fileinput-button click-upfile">
                                        <i class="fa fa-plus"></i>
                                        <span> Add files... </span>
                                        @*<input type="file" name="file" multiple="" id="file">*@
                                    </span>
                                    <button type="submit" class="btn blue start">
                                        <i class="fa fa-upload"></i>
                                        <span> Start upload </span>
                                    </button>
                                    <button type="reset" class="btn warning cancel">
                                        <i class="fa fa-ban-circle"></i>
                                        <span> Cancel upload </span>
                                    </button>
                                    <span class="fileupload-process"> </span>
                                </div>
                                <!-- The global progress information -->
                                <div class="col-lg-5 fileupload-progress fade">
                                    <!-- The global progress bar -->
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-success" style="width:0%;"> </div>
                                    </div>
                                    <!-- The extended global progress information -->
                                    <div class="progress-extended"> &nbsp; </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                        <img src="~/Images/noimage.png" alt="ảnh upload" class="click-upfile">
                                    </div>
                                    <div>
                                        @Html.CheckBoxFor(o=>o.IsChecked, new { @class= "fileinput-exists" })
                                    </div>

                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 10px;"> </div>
                                    <div>
                                        <span class="btn default btn-file">
                                            <span class="fileinput-new">Chọn ảnh</span>

                                            <span class="fileinput-exists"> Thay đổi </span>
                                            <input type="hidden">
                                            <input type="file" name="file" id="file">
                                        </span>
                                        <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Hủy bỏ </a>

                                    </div>
                                    <div class=" fileinput-exists margin-top-15 ">
                                        @Html.LabelFor(o => o.Name)
                                        @Html.TextBoxFor(o => o.Name)
                                    </div>
                                </div>
                                <div class="clearfix margin-top-10">
                                    <span class="label label-danger">NOTE! </span>
                                    <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                </div>
                            </div>

                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
    <script type='text/javascript'>
        //$("#cancelBtn").click(function (e) {
        //    var indexurl = (this).getAttribute('route');
        //    loadPage(indexurl, 'document');
        //})
    </script>
    <script>
        $("#file").change(function () {
            readURL(this);
        });
        $(".click-upfile").click(function () {
            $("#file").click();
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.imageUpload').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
