@model IEnumerable<Dung.Model.CheckImage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FrontEnd/Views/Shared/_PublicLayout.cshtml";
    var canCreate = (bool)ViewBag.CanCreate;
//    string tableRoute = ViewBag.CName + "_Table";
}

<ul class="page-breadcrumb breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li class="active">
        @ViewBag.Title
    </li>
</ul>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-flag-o font-green-sharp bold"></i>
                    <span class="caption-subject font-green-sharp bold ">danh sách @ViewBag.CText</span>
                </div>
              
                @if (canCreate)
                {
                    <div class="actions">
                        <a href="@Url.RouteUrl(ViewBag.CName+"_Create")" class="btn btn-sm green"><i class="fa fa-plus"></i> Thêm @ViewBag.CText</a>
                    </div>
                }
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover table-bordered" id="datatable_none_ajax_source"></table>
                <div class="row">

                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model.OrderBy(o => o.CreateDate))
                        {

                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <div class="portlet light portlet-fit bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            @if (item.IsChecked == true)
                                            {
                                                <i class="fa fa-check-square-o font-blue "></i>
                                            }
                                            <span class="caption-subject font-green bold uppercase">@item.Id</span>
                                        </div>
                                    </div>
                                    <p class="caption-desc font-grey-cascade"> @Common.Helpers.StringHelper.ShorStr(item.Name,30,true)</p>
                                    <div class="portlet-body">
                                        <div class="mt-element-overlay">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mt-overlay-1">
                                                        <center>
                                                            <img src="@item.Path" width="150" height="150" style="margin:auto" alt="@item.Description">
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>

        </div>
    </div>
    <div class="ScriptUploadFIle">

    </div>
</div>
@section Styles{
    @Styles.Render("~/css/metronic/datatable")
}
@section Scripts {


    @Scripts.Render("~/js/metronic/datatable")
    @Scripts.Render("~/js/metronic/datatable-none-ajax-source")


}
@section Scripts2 {
    <script type="text/javascript">
        var DanhSach= function () {
            var handleDanhSach = function () {
                var grid = new DatatableNoneAjaxSource();
                grid.init({
                    src: $("#datatable_none_ajax_source"),
                    onSuccess: function (grid) {
                        // hành động khi tải xong dữ liệu
                    },
                    onError: function (grid) {
                        // hành động khi tải dữ liệu bị lỗi
                    },
                    loadingMessage: 'Đang tải dữ liệu...',
                    dataTable: {
                        "lengthMenu": [
                            [10, 20, 50, 100, 150, -1],
                            [10, 20, 50, 100, 150, "Tất cả"]//Ô chọn hiển thị số bản ghi mỗi trang
                        ],
                        "pageLength": 10, // mặc định số bản ghi mỗi trang
                        "bSort": false,
                        "order": [
                            [2, "asc"]
                        ]
                    }
                });
            }
            return {
                init: function () {
                    handleDanhSach();
                }
            };
        }();
        jQuery(document).ready(function () {
            DanhSach.init();
            $('.delete').on('click', function (e) {
                e.preventDefault();
                if (confirm("Bạn có chắc chắn muốn xóa trạng thái bài viết này không?") == false) {
                    return;
                }
                Metronic.blockUI({
                    message: 'Vui lòng đợi!',
                    overlayColor: 'none',
                    cenrerY: true,
                    boxed: true,
                    zIndex: 99999
                });
                var nRow = $(this).parents('tr')[0];
                var $id = $(nRow).attr('data-objectid');

                $.ajax({
                    type: 'POST',
                    url: '#',
                    dataType: 'json',
                    data: { code: $id },
                    success: function (result) {
                        if (result.success == true) {
                            showNoty('Đã xóa @ViewBag.CText thành công!', 'success', 'center', 5000);
                            nRow.remove();
                        }
                        else {
                            showNoty(result.message, 'error', 'center', 5000);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        showNoty('Đã xảy ra lỗi khi thực hiện yêu cầu của bạn. Vui lòng kiểm tra và thử lại!<br />Lỗi: ' + errorThrown, 'error', 'center', 5000);
                    },
                    complete: function (result) {
                        Metronic.unblockUI();
                    }
                });
            });
        });
    </script>
}


