@model Dung.Model.CheckImage
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/FrontEnd/Views/Shared/_PublicLayout.cshtml";
    if (ViewBag.ActiveTabNum == null)
    {
        ViewBag.ActiveTabNum = "1";
    }
    string CName = ViewBag.CName == null ? "Image" : ViewBag.CName;
    string indexRoute = "";
    int CurrentPage = ViewBag.CurrentPage == null ? 0 : (int)ViewBag.CurrentPage;
    int PageSize = ViewBag.PageSize == null ? 0 : (int)ViewBag.PageSize;
    string SearchText = ViewBag.SearchText == null ? "" : ViewBag.SearchText;
    indexRoute = Url.RouteUrl("FrontEnd_Home_Index");
    string url1 = indexRoute;
}
<ul class="page-breadcrumb breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <a href="@Url.RouteUrl("FrontEnd_Home_Index")" ">Trang chủ</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="@indexRoute">Danh sách @ViewBag.CText</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li class="active">
        @ViewBag.Title
    </li>
</ul>
@*Bắt đầu nội dung tùy chỉnh*@
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject uppercase">Thêm @ViewBag.CText</span>
        </div>
    </div>
    <div class="portlet-body" id="account_detail">

        <div class="">

            <div class="row">
                @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @class = "form -horizontal form-bordered form-row-stripped", @id = "fileupload", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">
                        <div class="form-body">
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    <button data-close="alert" class="close"></button>
                                    @Html.ValidationSummary(true)
                                </div>
                            }
                            <div class="row fileupload-buttonbar">
                                <div class="col-lg-7">
                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                    <span class="btn green fileinput-button">
                                        <i class="fa fa-plus"></i>
                                        <span> Add files... </span>
                                        <input type="file" name="file" multiple="" id="file">
                                    </span>
                                    <button type="submit" class="btn blue start">
                                        <i class="fa fa-upload"></i>
                                        <span> Start upload </span>
                                    </button>
                                    <button type="reset" class="btn warning cancel">
                                        <i class="fa fa-ban-circle"></i>
                                        <span> Cancel upload </span>
                                    </button>
                                    <span class="fileupload-process"> </span>
                                </div>
                                <!-- The global progress information -->
                                <div class="col-lg-5 fileupload-progress fade">
                                    <!-- The global progress bar -->
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-success" style="width:0%;"> </div>
                                    </div>
                                    <!-- The extended global progress information -->
                                    <div class="progress-extended"> &nbsp; </div>
                                </div>
                            </div>
                            <!-- The table listing the files available for upload/download -->
                            <table role="presentation" class="table table-striped clearfix">
                                <tbody class="files"> </tbody>
                            </table>
                        </div>

                    </div>
                }
            </div>
            <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
            <script id="template-upload" type="text/x-tmpl">
                {% for (var i=0, file; file=o.files[i]; i++) { %}
                <tr class="template-upload fade">
                    <td>
                        @*<input name="IsChecked" id="IsChecked" type="checkbox" class="toggle">*@
                        <input type='checkbox' id='IsChecked' name='IsChecked' value='true' @(Model == null || Model.IsChecked == true ? "checked=checked" : "" )
                               class="make-switch" />
                    </td>
                    <td>
                        <span class="preview"></span>
                    </td>
                    <td>
                        <p class="name font-red">{%=file.name%}</p>
                        @*<input id="Name" name="Name" style="Display:none" type="text" value={%=file.name%}>*@
                        @Html.LabelFor(o => o.Name)
                        @Html.TextBoxFor(o => o.Name)
                        <strong class="error label label-danger"></strong>
                    </td>
                    <td>
                        <p class="size">Processing...</p>
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                    </td>
                    <td>
                        {% if (!i && !o.options.autoUpload) { %}
                        <button class="btn blue start" disabled>
                            <i class="fa fa-upload"></i>
                            <span>Start</span>
                        </button> {% } %} {% if (!i) { %}
                        <button class="btn red cancel">
                            <i class="fa fa-ban"></i>
                            <span>Cancel</span>
                        </button> {% } %}
                    </td>
                </tr> {% } %}
            </script>
            <!-- The template to display files available for download -->
            <script id="template-download" type="text/x-tmpl">
                {% for (var i=0, file; file=o.files[i]; i++) { %}
                <tr class="template-download fade">
                    @*<td>
                            <span class="preview">
                                {% if (file.thumbnailUrl) { %}
                                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery>
                                    <img src="{%=file.thumbnailUrl%}">
                                </a> {% } %}
                            </span>
                        </td>
                        <td>
                            <p class="name">
                                {% if (file.url) { %}
                                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl? 'data-gallery' : '' %}>{%=file.name%}</a> {% } else { %}
                                <span>{%=file.name%}</span> {% } %}
                            </p> {% if (file.error) { %}
                            <div>
                                <span class="label label-danger">Error</span> {%=file.error%}
                            </div> {% } %}
                        </td>
                        <td>
                            <span class="size">{%=o.formatFileSize(file.size)%}</span>
                        </td>
                        <td>
                            {% if (file.deleteUrl) { %}
                            <button class="btn red delete btn-sm" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                                <i class="fa fa-trash-o"></i>
                                <span>Delete</span>
                            </button>
                            <input type="checkbox" name="delete" value="1" class="toggle"> {% } else { %}
                            <button class="btn yellow cancel btn-sm">
                                <i class="fa fa-ban"></i>
                                <span>Cancel</span>
                            </button> {% } %}
                        </td>*@
                </tr> {% } %}
            </script>
            <!-- END PAGE BASE CONTENT -->
        </div>
    </div>
    <script src="~/Scripts/CustTomScripts.js"></script>
    <script type='text/javascript'>

                        //$("#cancelBtn").click(function (e) {
                        //    var indexurl = (this).getAttribute('route');
                        //    loadPage(indexurl, 'document');
                        //})
    </script>
