@{ 
		 var obj = ViewData["list_kpi"];
		 Web.Handler.obj_kpi kpi_parent = ViewData["kpi_parent"] as Web.Handler.obj_kpi;
		 Web.Handler.obj_kpi obj_kpi;
		 var list_kpi = new List<Web.Handler.obj_kpi>();
		 foreach (var value in obj as IEnumerable<Web.Handler.obj_kpi>)
		 {
					obj_kpi = new Web.Handler.obj_kpi(value.ID, value.IdParent, value.Code, value.Name, value.Weight);
					list_kpi.Add(obj_kpi);
		 }
		 int flag = 0;
		 int flag_child = 0;
}
<tr>
	<td class="xl26016220" style="border-top:none">&nbsp;</td>
	<td class="xl26016220" style="border-top:none;border-left:none">&nbsp;</td>
	<td class="xl29316220" style="border-top:none;border-left:none">&nbsp;</td>
	<td class="xl29316220" style="border-top:none;border-left:none">&nbsp;</td>
	<td class="xl29416220" style="border-top:none;border-left:none;">@kpi_parent.Code</td>
	<td colspan="8" class="xl34016220"style="border-left:none;">
		@kpi_parent.Name
	</td>
	<td class="xl29516220" style="border-top:none;border-left:none;">&nbsp;</td>
	<td class="xl29516220" style="border-top:none;border-left:none;">&nbsp;</td>
	<td class="xl29416220" style="border-top:none;border-left:none;">&nbsp;</td>
	<td class="xl29416220" style="border-top:none;border-left:none;">&nbsp;</td>
	<td class="xl34016220" style="border-top:none;border-left:none;">&nbsp;</td>
	<td class="xl29616220" style="border-top:none;border-left:none;">
		<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-<span>&nbsp;</span>
	</td>
	<td class="xl29616220" style="border-top:none;border-left:none;">&nbsp;</td>
	<td class="xl29616220" style="border-top:none;border-left:none;">&nbsp;</td>
	<td class="xl29616220" style="border-top:none;border-left:none;">&nbsp;</td>
	<td class="xl29616220" style="border-top:none;border-left:none;">
		<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>-<span>&nbsp; </span>
	</td>
	<td class="xl18716220"></td>
	<td class="xl18716220"></td>
	<td class="xl18716220"></td>
</tr>
@foreach(var kpi_level_2 in list_kpi.Where(x => x.IdParent == kpi_parent.ID))
{
	flag = flag + 1;
	@Html.Partial("~/Views/KPI/kpi_level_2.cshtml", new ViewDataDictionary() { { "kpi_level_2", kpi_level_2 }, {"sum", list_kpi }, {"flag", flag}, {"KPI_parent", kpi_parent } })
foreach (var kpi_level_3 in list_kpi.Where(x => x.IdParent == kpi_level_2.ID))
{
		<tr class=xl21416220>
			<td rowspan="1" class=xl33816220 style='border-top:none'>
				@kpi_level_3.Weight %
			</td>
			<td class=xl33816220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30216220 style='border-top:none;border-left:none'>@kpi_level_3.Code</td>
			<td class=xl30316220 style='border-top:none;border-left:none'>
				@kpi_level_3.Name
			</td>
			<td class=xl30316220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30316220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30316220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30316220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30216220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30216220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30316220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30416220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl30516220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl19016220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl19016220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl19116220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl22416220 style='border-top:none;border-left:none;'>
				<span> </span>-<span></span>
			</td>
			<td class=xl19016220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl19016220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl19116220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl22416220 style='border-top:none;border-left:none;'>
				<span> </span>-<span></span>
			</td>
		</tr>

					foreach (var kpi_level_4 in list_kpi.Where(x => x.IdParent == kpi_level_3.ID))
					{
							 if(list_kpi.Where(x => x.IdParent == kpi_level_4.ID).Count() >= 2) {
										@Html.Partial("~/Views/KPI/kpi_level_4.cshtml", new ViewDataDictionary() { { "kpi_level_4", kpi_level_4 }, { "sum", list_kpi } })
							 }
							 else {
										@Html.Partial("~/Views/KPI/kpi_level_4_1.cshtml", new ViewDataDictionary() { { "kpi_level_4", kpi_level_4 }, { "sum", list_kpi } })
							 }
					}
		 }
}
