
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@Html.Partial("~/Views/Shared/_style_exel.cshtml")
<div style="overflow-x:auto;">
	<table border=0 cellpadding=0 cellspacing=0 width=1457 class=xl1871622; style='border-collapse:collapse;table-layout:fixed;width:1094pt'>
		@Html.Partial("~/Views/KPI/_header_excel.cshtml")
		<tbody>
				@for (int i = 0; i < 2; i++)
				{
					@Html.Partial("~/Views/KPI/_body_excel.cshtml")
					@Html.Partial("~/Views/KPI/_score_KPI.cshtml")
				}
				@Html.Partial("~/Views/KPI/_sum_value_excel.cshtml")
		</tbody>
	</table>
</div>
@section scripts{
}
