<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
	<title>@ViewBag.Title</title>
		@Html.Partial("~/Views/Shared/_Head2.cshtml")
		@Html.Partial("~/Views/Shared/_Css1.cshtml")
		@RenderSection("styles", required: false)
		@Html.Partial("~/Views/Shared/_Css2.cshtml")
		@RenderSection("styles2", required: false)
</head>
<body class="page-md page-sidebar-closed-hide-logo ">
	@Html.Partial("~/Views/Shared/_Header.cshtml", 0)

	<div class="page-container">
		@Html.Partial("~/Views/Shared/_Menu.cshtml")
		<div class="page-content-wrapper">
			<div class="page-content">
				@RenderBody()
			</div>
		</div>
	</div>
	@Html.Partial("~/Views/Shared/_Footer.cshtml")


	@Html.Partial("~/Views/Shared/_Scripts.cshtml")
	@RenderSection("scripts", required: false)


	@*@Scripts.Render("~/js/metronic/select2", "~/js/metronic/bootbox", "~/js/metronic/datatable", "~/js/metronic/moment")
		@Scripts.Render("~/js/metronic/datatable-ajax-source")*@

	<script src="/Themes/assets/global/plugins/select2/select2.min.js"></script>
	<script src="/Themes/assets/global/plugins/bootbox/bootbox.min.js"></script>
	<script src="/Themes/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="/Themes/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
	<script src="/Themes/assets/global/plugins/moment.min.js"></script>

	<script src="/Themes/assets/global/scripts/datatable-ajax-source.js"></script>
	<script type="text/javascript">
        jQuery(document).ready(function () {
            window.DVFT = "@ViewBag.IDDVFT";
            Metronic.init();
            Layout.init();
            Demo.init();
            showNoty('@ViewBag.Success', 'success', 'center', 5000);
            showNoty('@ViewBag.Error', 'error', 'center', 5000);
            window.renderNotiBy = function (data, regex) {
                var $rd = "";
                var $rdTbMoiTitle = '<li style="background:none;color:red">Thông báo mới</li>';
                var $rdTbMoi = renX(data.dataCX, "label-warning", regex);
                if ($rdTbMoi!="") {
                    $rd = $rdTbMoiTitle + $rdTbMoi;
                }
                console.log($rd);
                var $rdTbCuTitle = '<li style="background:none;"></li><li style="background:none;"></li><li style="background:none;">Thông báo cũ</li>';
                var $rdTbCu = renX(data.dataDX, "label-default", regex);
                if ($rdTbCu != "") {
                    $rd += $rdTbCuTitle + $rdTbCu;
                }
                return $rd;
            }
            window.renderNoti = function (data) {
                if (Object.keys(data.dataCX).length > 0) {
                    $("#header_notif_bar").fadeIn();
                    $("#notifCount").html(Object.keys(data.dataCX).length);
                } else {
                    $("#header_notif_bar").fadeOut();
                }
                var dx = renderNotiBy(data, "[Đề xuất]");
                if (dx != "") {
                    $("#notifDeXuatBox").fadeIn();
                    $("#notifDeXuat").html(dx);
                } else {
                    $("#notifDeXuatBox").fadeOut();
                }
                var dt = renderNotiBy(data, "[Đề tài]");
                if (dt != "") {
                    $("#notifDeTaiBox").fadeIn();
                    $("#notifDeTai").html(dt);
                } else {
                    $("#notifDeTaiBox").fadeOut();
                }
                var dadt = renderNotiBy(data, "[Dự án đầu tư]");
                if (dadt != "") {
                    $("#notifDuAnDauTuBox").fadeIn();
                    $("#notifDuAnDauTu").html(dadt);
                } else {
                    $("#notifDuAnDauTuBox").fadeOut();
                }
                var khac = renderNotiBy(data, "[Khac]");
                if (khac != "") {
                    $("#notifKhacBox").fadeIn();
                    $("#notifKhac").html(khac);
                } else {
                    $("#notifKhacBox").fadeOut();
                }
            }
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
            $(".modal").on("hidden.bs.modal", function () {
                initNoti();
                jQuery(".modal-content", this).empty();
            });
        });
	</script>
	@RenderSection("scripts2", required: false)
	@Scripts.Render("~/dvft")
	<script>
        function ex() {
            var val = $('option:selected', "#DonVis").attr('value');
            if (val >= 1) {
                $("#Excel").css({ "display": "block" });
                $("#Excel").attr("href", $("#link").attr("href").replace('99999', val));
                // var href = ""+val;
            }
            if ($('option:selected', "#DonVis").attr('value') < 1) {
                $("#Excel").css({ "display": "none" });
            }
        }
	</script>

</body>

</html>